.nav-container {
 display: flex;
 justify-content: space-around;
 background-color: #19A7CE;
 color: #fff
}

.nav-items {
 position: relative;
}

.nav-icon {
 position: absolute;
 bottom: 10px;
 right: -4px;
}

.cart {
 text-align: center;
}

.cart-clear {
 padding: 8px;
 border: none;
 border-radius: 16px;
 background-color: #19A7CE;
 color: #fff
}

.cart-item {
 display: flex;
 justify-content: space-between;
 margin: 75px 150px;
}

.cart-info {
 text-align: right;
}

.cart-button {
 border: none;
 background-color: #fff;
}

.cart-quantity {
 margin-right: 8px;
}

.cart-delete {
 border: none;
 padding: 8px;
 border-radius: 16px;
 background-color: #aa2219;
 color: #fff;
 margin-top: 20px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .modal {
    background: #fff;
    width: 80vw;
    max-width: 400px;
    border-radius: 0.25rem;
    padding: 2rem 1rem;
    text-align: center;
    }
    .modal h4 {
    margin-bottom: 0;
    line-height: 1.5;
    }
    
    .modal .clear-btn,
    .modal .confirm-btn {
    margin-top: 1rem;
    }
    
    .btn-container {
    display: flex;
    justify-content: space-around;
    }
    .confirm-btn {
    border-color: #645cff;
    color: #645cff;
    }
    
    .clear-btn,
    .confirm-btn {
    background: transparent;
    padding: 0.5rem 1rem;
    color: hsl(360, 67%, 44%);
    border: 1px solid hsl(360, 67%, 44%);
    margin-top: 2.25rem;
    border-radius: 0.25rem;
    }
    
    .clear-btn:hover {
    background: hsl(360, 71%, 66%);
    color: hsl(360, 67%, 44%);
    border-color: hsl(360, 71%, 66%);
    }
    
    .confirm-btn:hover {
    background: #948fff;
    color: #352bf3;
    border-color: #4339ff;
    }